*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

body>h1{
    position: relative;
}

body>h1::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    right: -2px;
    animation: blink .5s ease infinite;
}

@keyframes blink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}